$main_width:960px;

@mixin main_container{
    width: $main_width;
    margin: 0 auto;
}
.container_960px{
    position: relative;
    width: $main_width;
    margin: 0 auto;
}



#head{
  text-align: center;
  .logo-cnt{
    .logo{
      width: 244px;
    }
    height: 240px;
    padding-top: 30px;
    .account{
      position: relative;
        >span:first-child{
          float: right;
          // width: 152px;
          height: 36px;
          padding:0 20px;
          line-height: 36px;
          background-color: rgba(0, 0, 0, 0.1);
          border-radius: 17px;
          border: solid 1px rgba(40, 60, 80, 0.8);
          cursor: pointer;
          img{
            width: 17px;
            margin-left: 10px;
          }
          span{
              font-size: 18px;
              letter-spacing: 0px;
          }
        }
        >span:nth-child(2){
           position: absolute;
            left: 880px;
            top: 50px;
            img{
              margin-right: 6px;
            }
        }
    }
  }
  .navs{
    i{
      font-family: 'ripple-Regular';
      font-size: 66px;
      transition: color 1.3s 0.1s ease-out;
    }
    background-color: rgba(0, 0, 0, 0.4);
    border-top: solid 1px rgba(40, 60, 80, 0.8);
    border-bottom: solid 1px rgba(40, 60, 80, 0.8);
    .nav-container{
      width:$main_width;
      margin: 0 auto;
      text-align: left;
      .nav{
        &.active{
          i{
            color:#ffb041;
          }
          img{
            bottom: 0;
          }
        }
        float: left;
        text-align: center;
        width: 110px;
        height: 80px;
        line-height: 20px;
        position: relative;
        overflow: hidden;
       
        img{
          bottom: -28px;
          transition: bottom 1.3s 0.1s ease-out;
        }
        &:first-child{
           width: 80px;
          a{ 
            img{
              left:0;
              transform: translate(0,-50%);
            }
          }
        };
        &:last-child{
          a{ 
            border-right: none;
          }
        };
        a{
          text-align: center;
          display: inline-block;
          position: relative;
          overflow: hidden;
          width: 100%;
          height:40px;
          margin-top: 20px;
          border-right: solid 1px  rgba(255, 255, 255, 0.2);
          &:hover{
            i{
              color:#ffb041;
            }
            img{
              bottom: 0;
            }
          }
        }
        
      }
    }
  }
}

#foot{
  margin-top: 56px;
  height: 109px;
  background-color: #0e1a28;
  padding-top: 20px;
  color: #fff;
  a{
    text-decoration: underline;
    margin-right: 12px;
  }
  
  .content{
    width:$main_width;
    margin: 0 auto;
    .about{
      span{
        margin-right: 10px;
      }
    }
    .left{
      .session_1{

      }
      .session_2{
        font-size: 13px;
        margin-top: 20px;
        .left{
          text-align: center;
          img{
            width: 72px;
          }
        }
        .right{
            text-align: left;
          .rights{

            margin-top: 10px;
          }
        }
      }

    }
    .right{
        float: right;
        text-align: right;
    }
  }
}

.card-Dragen,.card-Mdicine,.modal-card{
    .session_3{
      position: relative;
      margin-top: 30px;
      height: 90px;
      .properties{
        width: 255px;
        
        li{
          border-top: 1px solid rgba(255,255,255,0.2);
          height: 36px;
          line-height: 36px;
          font-size: 18px;
          display: flex;
          .key{
            color: #b08d65;
            
          }
          .value{
            
          }
          &:last-of-type{
            border-bottom: 1px solid rgba(255,255,255,0.2);
          }
          &>span{
            flex:1;
            text-align: left;
          }
          >span:nth-of-type(2){
            text-align: right;
          }
        }
      }
    }
    .session_4{
      ul{
        margin-left: 73px;
        background-color: #2fa355;
        border: solid 1px #1a4208;
        width: 170px;
        height: 60px;
        font-size: 20px;
        cursor: pointer;
        transition: background 0.3s 0.1s  ease-out;
        &.assets_btn{
          line-height: 60px;
          width: 130px;
          margin-left: 0 !important;
          &:last-child{
              background-color: #a96d11;
          }
          display: inline-block;
        }
        &.attack_btn{
          margin-left: 65px;
          width: 195px;
          line-height: 60px;
          font-size: 24px;
          background-color: rgb(183,43,43);
        }
        li{
          
          text-align: center;
        }
        .price{
          line-height: 25px;
          border-bottom: 1px solid #1f7f38;
        }
        .buy{
          line-height: 34px;
        }
      }
    }
}

.card-Dragen,.modal-card{
  
  position: relative;
  margin-top:40px;
  &.assets{
    .session_1{
      img{
        display: none;
      }
      .name{
        margin-right: 0 !important;
      }
    }
    .session_4 {
      ul.assets_btn{
        margin-left: 20px;margin-right: 10px;
      }
    }
    .status{
      display: flex;
      width: 220px;
      height: 40px;
      line-height: 40px;
      margin:0 auto;
      margin-bottom: 0px;
      >span{
        flex:1;
        img{
          width: 15px;
          margin-right: 6px;
        }
      }
    }
    
  }
  transition: background-color 0.5s 0.1s ease-out;
  padding-bottom: 30px;
  position: relative;
  float: left;
  width: 320px;
  text-align: center;
  .session_1{
    position: absolute;
    width: 100%;
    top:5px;
    left: 50%;
    font-size: 24px;
    transform: translateX(-50%);
    .buff{
      width: 14px;
      margin-right: 3px;
      &:last-of-type{
        margin-right: 7px;
      }
    }
  }
  .session_2{
    cursor: pointer;
    height: 320px;
    position: relative;
    .stone{
      bottom: -40px;
    }
    .dragen{
      width: 195px;
      margin-top: 40px;

    }
    .shield{
      bottom: 59px;
      width: 230px;
    }
    .vg{
      bottom: -10px;
      font-size: 18px;
      .tag{
        display: inline-block;
        padding:0 26px;
        text-align: center;
        line-height: 26px;
        font-size: 18px;
        margin: 3px 0 6px;
      }
    }
  }
  .status{
    display: none;

  }
}


/**
 * 恐龙卡片滑动样式，每个恐龙卡片下面分割线
 */
#attack,#market,#assets,#hatched,#top{
  .card-Dragen{
    &:hover{
       background-color: rgba(0,0,0,.2);
    }
    &:after{
      content: '';
      width: 100%;
      height: 1px;
      right: 0;
      position: absolute;
      bottom: -20px;
      border-bottom: 0.5px solid rgba(255,255,255,0.3);
    }
  }
}

/**
 * 战斗恐龙卡片战斗结果
 */
#attacking,#attacked,#multi-attacking,#multi-attacked{
   .session_2{
      .shield{
        bottom: 69px;
      }
   }
}
#attacked{
   .result{
      width: 352px;
      height: 64px; 
      color: #ffdd3d;
      background: url('../../images/text-bg.png') center/100% 100% no-repeat;
      .add{
        font-size: 18px;  
      }
      .name{
        font-size: 48px;
      }
   }
    
}
/**
 * 恐龙孵化状态
 */
#hatched{
  .card-Dragen{
    margin-bottom: 20px;
    &:hover{
       background-color: transparent;
    }
    &:last-child:after{
      content: '';
      width: 100%;
      height: 1px;
      right: 0;
      position: absolute;
      bottom: -20px;
      border-bottom: 0.5px solid transparent;
    }
  }
}
/**
 * 恐龙排行卡片样式
 */
#top{
  .card-Dragen{
    margin-top: 0;

    &:hover{
       background-color: transparent;
    }
    .session_1{
      text-align: left;
      padding-left:30px;
    }
    .session_2{
      height: 94px;
      cursor: auto;
      .vg{
        left:31px;
        text-align: left;
        transform: translateX(0);
        .tag{
          margin-bottom: 20px;

        }
      }
    }
    .session_4{
      padding-left: 30px;
      color: #8fa4ab;
      font-size: 14px;
      text-align: left;
      white-space: nowrap;
    }
    &:last-child:after{
      content: '';
      width: 100%;
      height: 1px;
      right: 0;
      position: absolute;
      bottom: -20px;
      border-bottom: 0.5px solid transparent;
    }
  }
}


.card-Mdicine{
  float: left;
  width: 310px;
  margin-right: 15px;
  height: 460px;
  position: relative;
  margin-top:40px;
  background-color: #324256;
  text-align: center;
  &:after{
    content: '';
    width: 100%;
    height: 1px;
    right: 0;
    position: absolute;
    bottom: -20px;
    border-bottom: 0.5px solid rgba(255,255,255,0.3);
  }
  &:nth-of-type(3n){
    margin-right: 0;

  }
  .session_3{
      .properties{
        // width: 275px;
      }
  }
  .session_4{
    cursor: pointer;
  }
  .name{
    font-size: 24px;
  }
}


.Card-multi-dragen{
  margin-bottom: 20px;
  width: 960px;
  background-color: #243a56;
  height: 260px;
  padding-top: 20px;
  >div{
    float: left;
    &.left{
      width: 230px;
      margin-left: 40px;
      >div{
        display: flex;
        margin-bottom: 10px;
        img{
          margin-right: 10px;
          width: 34px;
          height: 30px;
          margin-top: 4px;
        }
        >div{
          font-size: 14px;
          color: #b08d65;
          &>div:first-child{
            color: #fff;
            font-size: 24px;
          }
        }
        .attack_btn{
          box-shadow: 1px 1px 1px #000;
          &:hover{
            background-color: rgba(158, 33, 33,0.75);
          }
        }
      }
    }
    &.mid{
       display: flex;
      >div{

        img.pic{
          width: 172px;
          height: 178px;
        }
      }
    }
  }
}


.modal.modal-fixed-footer{
  width: 1030px;
  background-color: #1c304a;
  color: #fff !important;
  .modal-content{
    padding: 0;
    overflow-y: hidden;
    #modal-title{
      line-height: 80px ;
      text-align: center;
      color: #e2b61f;
      font-size: 30px;
      background-color: #1c304a;
    }
    #modal-content{
      
      #tit{
        height: 70px;
        background-color: #1f3552;
        font-size: 20px;
        text-align: center;
        line-height: 70px;
      }
      #cont{
        padding-left: 10px;
        padding-top: 10px;
        height: 440px;
        overflow-y: scroll;

      }
    }

  }
   .modal-footer{
      background-color: transparent;
      text-align: center;
      a{
        background-color: #208e37;
        color: #fff;
        float: none;
      }
   }
}
.modal-card{
  position: relative;
  width: 490px;
  height: 250px;
  float: left;
  margin-right: 10px;
  background-color: #243a56;
  &:nth-child(2n){
    margin-right: 0;
  }
}
.modal-multi-dragen{
  position: relative;
  cursor: pointer;
}
.modal-card.active:after,.modal-multi-dragen.active:after{
  content: '';
  position: absolute;
  width:35px;
  height:36px;
  right:0;
  bottom: 0;
  background:url('../../images/check.png') center/cover no-repeat;
  
}
.modal-card.active,.modal-multi-dragen.active{
  border: 1px solid #289a48;
}

.modal-card{
  cursor: pointer;
  >div{
    float: left;
    
    &.session_2{
      height: 100%;
      position: absolute;
      width: 240px;height: 100%;
      right: 0;
      top: 0;
      .dragen{
        margin-top: 0;
      }
    }
    &.session_3{
      position: absolute;
      height: 100%;
      left: 0;
      top: 0;
      width: 250px;
      box-sizing: border-box;
      padding-left: 20px;
      .vg{
        display: inline-block;
        width: 100%;
        font-size: 20px;
        text-align: left;
        .tag{
          display: inline-block;
          padding:4px 10px;
          margin:10px 0;
        }
      }
      ul{
        
      }
    }
  }
}



























.el-pagination{
  padding:0;
  .el-pager{
     li{
      margin:0 8px;
      background-color: transparent;
      border: 1px solid #fff;
        &.active{
          color: #0bdefd;
          border:none;
          background-color:rgba(255,255,255,0.1);
          &+li{
            border-left: 1px solid #fff;
          }
        }

     }
  }
  .btn-prev,.btn-next{
      background-color: transparent;
      border: 1px solid rgba(255,255,255,0.3);
  }
  button.disabled{
    background-color: transparent;
  }
}
























.my-loading{
  position: relative;
  .loading-bg{
    background: url('../../images/loading.png') center / cover no-repeat;
    animation: rotate 2s linear 0s infinite;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  img{
      // animation: no-rotate 2s linear 0s infinite;
      position: absolute;
      
  }
}

@keyframes rotate {
  from { 
    transform: rotate(0);
  }
  to { 
    transform: rotate(360deg);
  }
}
@keyframes no-rotate {
  from { 
    transform: rotate(360deg);
  }
  to { 
    transform: rotate(0);
  }
}

