/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/*fonts*/
@font-face {
    font-family: 'Copperplate-Bold';
    font-style: normal;
	   font-stretch: normal;
    src: local('LithosPro-Black'), url(./assets/font/Copperplate-Bold-03.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/*fonts*/
@font-face {
    font-family: 'Copperplate-Regular';
    font-style: normal;
	font-stretch: normal;
    src: local('LithosPro-Regular'), url(./assets/font/Copperplate-Regular-01.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/*fonts*/
@font-face {
    font-family: 'ripple-Regular';
    font-style: normal;
    font-stretch: normal;
    src:  url(./assets/font/zhoulianyi-Regular.ttf);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video,input {
  margin: 0;
  padding: 0;
  border: 0;
  transition: color 0.3s 0.1s ease-out;
  box-sizing: border-box;
  -webkit-user-select:none;
     -moz-user-select:none;
      -ms-user-select:none; 
        user-select:none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
i{
 font-style:normal
}
input{
      border: 1px solid #DDDDDD;
      border-radius: 4px;
      outline: none;
      padding-left: 10px;
}
input:focus{
  border: 1px solid #8FBCFF;
}
html{
  line-height: 1;
}
html,body {
   font-size: 14px;
   width: 100%;
   font-family:Copperplate-Regular,Helvetica,Arial,sans-serif;
}
ol, ul ,li{
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
textarea{
  overflow:hidden;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
/*自定义全局样式*/
body {
	background: #000 url('./assets/images/body-bg.jpg')   center / 100% 100% no-repeat;
    color: #fff;
}
.ellipsis{
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.noselect{
  -webkit-user-select:none;
     -moz-user-select:none;
      -ms-user-select:none; 
        user-select:none;
}
.center{
  text-align: center !important;
}
.hidden{
  filter: opacity(0);
  opacity: 0
}
img,i{
    vertical-align: middle;
}
/*清楚浮动*/
.clearfloat{
    zoom:1;
}

.clearfloat:after{
    content: "";
    display:block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/*遮罩层*/
.mask{
    z-index:1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.25);
}
/*遮罩层内容*/
.mask-content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%,-50%,0);
    background-color: #fff;
    text-align: center;
}
/*全局公共宽度*/
.main{
    width: 1000px;
    margin:0 auto;
}
/*全居中*/
.xy-mid{
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
/*水平居中*/
.x-mid{ 
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}
/*垂直居中*/
.y-mid{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
/*背景图标公共样式*/
.icon-bg{
    display: inline-block;
    vertical-align: middle;
}
/*改变placeholder的颜色*/
.choose-input::-webkit-input-placeholder {
    color: rgba(0,0,0,0.45)
}
.choose-input::-moz-placeholder {
    color: rgba(0,0,0,0.45)
}
.choose-input::-ms-input-placeholder {
    color: rgba(0,0,0,0.45)
}


/*谷歌wekit内核隐藏滚动条*/
  .noscrollbar::-webkit-scrollbar {
      width:0px;
      height:0px;
  }
  .noscrollbar::-webkit-scrollbar-button    {
      background-color:rgba(0,0,0,0);
  }
  .noscrollbar::-webkit-scrollbar-track     {
      background-color:rgba(0,0,0,0);
  }
  .noscrollbar::-webkit-scrollbar-track-piece {
      background-color:rgba(0,0,0,0);
  }
  .noscrollbar::-webkit-scrollbar-thumb{
      background-color:rgba(0,0,0,0);
  }
  .noscrollbar::-webkit-scrollbar-corner {
      background-color:rgba(0,0,0,0);
  }
  .noscrollbar::-webkit-scrollbar-resizer  {
      background-color:rgba(0,0,0,0);
  }
  .noscrollbar::-webkit-scrollbar {
      width:10px;
      height:10px;
  }
  /*o内核*/
  .noscrollbar .-o-scrollbar{
      -moz-appearance: none !important;   
      background: rgba(0,255,0,0) !important;  
  }
  .noscrollbar::-o-scrollbar-button    {
      background-color:rgba(0,0,0,0);
  }
  .noscrollbar::-o-scrollbar-track     {
      background-color:rgba(0,0,0,0);
  }
  .noscrollbar::-o-scrollbar-track-piece {
      background-color:rgba(0,0,0,0);
  }
  .noscrollbar::-o-scrollbar-thumb{
      background-color:rgba(0,0,0,0);
  }
  .noscrollbar::-o-scrollbar-corner {
      background-color:rgba(0,0,0,0);
  }
  .noscrollbar::-o-scrollbar-resizer  {
      background-color:rgba(0,0,0,0);
  }
  /*IE10,IE11,IE12 隐藏滚动条*/
  .noscrollbar{
      -ms-scroll-chaining: chained;
      -ms-overflow-style: none;
      -ms-content-zooming: zoom;
      -ms-scroll-rails: none;
      -ms-content-zoom-limit-min: 100%;
      -ms-content-zoom-limit-max: 500%;
      -ms-scroll-snap-type: proximity;
      -ms-scroll-snap-points-x: snapList(100%, 200%, 300%, 400%, 500%);
      -ms-overflow-style: none;
      overflow: auto;
  }


select::-ms-expand{ display: none; }
select {
  /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
  border: solid 1px #D9D9D9;

  /*很关键：将默认的select选择框样式清除*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;

  /*在选择框的最右侧中间显示小箭头图片*/
  background:#fff url("http://ourjs.github.io/static/2015/arrow.png") right center/14px 14px no-repeat border-box;

  /*为下拉小箭头留出一点位置，避免被文字覆盖*/
  padding-right: 18px;
  padding-left: 10px;
  outline: none;
}
option::-ms-expand{ display: none; }
option{
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari 和 Chrome */
    appearance:none;
}
/* --背景色字体颜色--*/
option:hover{
    color:#fff;
    background-color:#1E90FF;
}

.main{
	width: 960;
	margin: 0 auto;
}


.my-scroll{
  overflow-y: scroll;
}
.my-scroll::-webkit-scrollbar {
width:10px;
height:10px;
}
.my-scroll::-webkit-scrollbar-button    {
background-color:transparent;
}
.my-scroll::-webkit-scrollbar-track     {
background:transparent;
}
/*.my-scroll::-webkit-scrollbar-track-piece {
background:url(http://www.lyblog.net/wp/wp-content/themes/mine/img/stripes_tiny_08.png);
}*/
.my-scroll::-webkit-scrollbar-thumb{
background:#00BFDD ;
border-radius:4px;
}
.my-scroll::-webkit-scrollbar-corner {
background:transparent;
}
.my-scroll::-webkit-scrollbar-resizer  {
background:transparent;
}

.disable{
  position: relative;
  cursor: auto !important;
  pointer-events:none;
}
.disable:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.35);
  cursor: auto;
}

.btn{
  padding: 0;
}


.line{
  height: 1px;
  border-bottom: 1px solid #000;
}
#fill-cont{
  margin-top: 40px;
  .no-egg{
      padding-top: 20px;
        .btn{
          margin: 10px 0;
          padding:0 10px;
        }
       text-align: left;
      
    }
   
  
}
#main{
  
  min-height: 550px;
}
.highcharts-legend{
  display: none;
}